*{font-family: Arial, Helvetica, sans-serif;}
.shade{
    box-shadow: 0 0rem 1rem rgba(0,0,0,0.175)
}
li{
    color: grey;
    list-style: none;
}
.modalfooter{
    padding: 20px;
    border-top: 1px #e2e2e2 solid;
}

.live{
    background-color: red;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.scroll{
    overflow-y: scroll;
    margin-left: 10px;
    height: 300px;
}
.userMessage{
    margin: 10px;
}
.messageRight{
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}
.messageRight p{
    text-align: right;
}

.designMessage{
    display: inline;
    padding: 10px 20px;
    background: rgb(207, 207, 207);
    color: black;
    border-radius: 20px;
}
.color{
    background: linear-gradient(#054672, #1cb2e0);
    color: white;
}
.logIn{
    text-align: center;
}
.login{
    z-index: 99;
}
.designContador{
    margin: 0;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgb(128, 128, 128);
    width: 25px;
    height: 25px;
    color: black;
    border-radius: 100%;
    text-align: center;
}

.designCollapse{
    position: absolute;
    right: 0;
    width: 600px;
    z-index: 99;
}
.designCollapseLogin{
    position: absolute;
    width: 300px;
    right: 0;
    z-index: 99;
}
.posicionLogin{
    width: 300px;
    padding: 20px;
}
.textProduct{
    margin-top: 10px;
    padding: 10px;
    width: 600px;
}

.ocultar{
    z-index: -999;
    width: 0;
    height: 0;
}
.ocultarBoton{
    display: none !important;
}
.row{
    margin: 5px !important;
}

.bordeProduct{
    margin: 10px;
    padding: 10px;
    border: rgb(170, 167, 167) solid 1px;
    border-radius: 20px;
}
.btnChat{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #1cb2e0;
    border: none;
}
.btnChat:hover{
    background-color: #6ad1f0;
}
.btnImages{
    width: 40px;
    height: 40px;
    background-image: url('../imagen/eyesClose.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border: none;
}

.btnImages:hover{
    background-image: url('../imagen/eyesOpen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.posicionStock{
    position: absolute;
    flex-direction: column;
    top: 20px;
    left: 20PX;
}
