<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <title>Formulario</title>
</head>

<body>
     <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
               <ul class="d-flex w-100 justify-content-around align-items-center m-3">
                    <li class="nav-item">
                         <a class="nav-link" href="#">Ver producto</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">Soporte</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">Mas</a>
                    </li>
                    <li id="cart">
                         <button type="submit" class="btn btn-success" id="btnCarrito">Comenzar compra</button>
                    </li>
               </ul>
          </nav>
     </header>

     <div class="m-5">
          <section>
               <h1>Ingresar Datos</h1>
               <form id="productForm">
                    <div class="col w-50">
                         <label class='form-label' for="name">Nombre del Producto</label>
                         <input class='form-control' type="text" name="name" id="name">
                    </div>
                    <div class="col w-50">
                         <label class='form-label' for="price">Precio</label>
                         <input class='form-control' type="text" name="price" id="price">
                    </div>
                    <div class="col w-50">
                         <label class='form-label' for="images">Ingrese la imagen</label>
                         <input class='form-control' type="file" name="images" id="images">
                    </div>
                    <button class="btn btn-success w-50 my-sm-3" type="submit" id="btnProduct">Enviar</button>
               </form>
               <a class="btn btn-primary w-50" href="/api/products/product">Ir a tienda</a>
               
          </section>
          <section>
               <h2 class="m-4">Lista de productos</h2>
               <div >
                    <div class="row d-flex justify-content-center align-items-center gap-3 scroll w-50 m-2">
                         <div class="row">
                              <div class="col d-flex justify-content-center align-items-center">
                                   <p class="text-center">Nombre</p>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center">
                                   <p class="text-center">Precio</p>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center">
                                   <p class="text-center">Imagen</p>
                              </div>
                         </div>
                         <div class="row" id="listProduct"></div>
                    </div>
               </div>
          </section>
          <br>
          <section>
               <div class="row d-flex justify-content-center align-items-center gap-3 w-50 m-2">
                    <div class="col d-flex justify-content-center align-items-center">
                         <div>
                              <h2>Atencion al cliente</h2>
                              <div class="d-flex justify-content-center align-items-center">
                                   <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chat">Comenzar chat</button>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- Modal -->
               <div class="modal fade" id="chat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                         <div class="modal-content">
                              <div class="modal-header">
                                   <h1 class="modal-title fs-5" id="exampleModalLabel">Chat</h1>
                                   <span class="live"></span>
                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                              </div>
                              <div class="modal-body" >
                                   <div class="scroll" id="msg"></div>
                              </div>
                              <div class="modalfooter">
                                   <div class="d-flex">
                                        <input type="text" id="chatBox" class="form-control w-100">
                                        <button type="submit" class="btn btn-primary" id="send">Enviar</button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
     </div>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="/socket.io/socket.io.js"></script> <!--?Importante incorporar este script-->
     <script type="module" src="/script/chat.js"></script>
     <script type="module" src="/script/carrito.js"></script>
</body>

</html>