<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
         <ul class="d-flex w-100 justify-content-end align-items-center m-3">
                <li class="nav-item pe-sm-5">
                    <a class="nav-link" href="/tienda">Tienda</a>
                </li>
                <li class="nav-item pe-sm-5">
                    <a class="nav-link" href="/user/register">Resgistrarse</a>
                </li>
                <li class="nav-item pe-sm-5">
                    <a id="iconUser" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser"></a>
                    <a id="iconLogin" data-bs-toggle="collapse" data-bs-target="#collapseLogin" aria-expanded="false" aria-controls="collapseLogin"></a>
                </li>
                <li id="cart">
                    <div class='d-flex justify-content-center align-items-center position-relative ocultar pe-sm-3' id="countProduct">
                        <button id='btnCart' style='background: #ff000000; border: none;'  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class='bx bxs-cart bx-md' style='color:#ffffff'></i>
                            <p class='designContador' id='contador'>0</p>
                        </button>
                    </div>
                    <div id="divBtnCart">
                        <button type="submit" class="btn btn-success" id="btnCarrito">Comenzar compra</button>
                    </div>
                </li>
         </ul>
    </nav>
</header>

<div class="collapse designCollapseLogin" id="collapseUser">
    <div class="card posicionLogin" >
        <a class="btn btn-outline-secondary" href="/user">Ver Perfil</a>
        <button class="btn btn-outline-secondary" id="btnLogout">Cerrar session</button>
    </div>
</div>
<div class="collapse designCollapse" id="collapseExample">
    <div class="card card-body textProduct" id="listProduct">
        <p>No hay productos</p>
    </div>
</div>
<div class="collapse designCollapseLogin" id="collapseLogin">
    <div class="card posicionLogin">
        <h2 class="text-center">Login</h2>
        <form id="formLogin">
            <input class="form-control" placeholder="Ingrese su nombre" type="text" name="email" id="email">
            <br>
            <input class="form-control" placeholder="Ingrese su contraseña" type="password" name="passwordUser" id="passwordUser">
            <br>
            <div id="divAlert"></div>
            <input type="submit" class="btn btn-primary w-100" value="Iniciar">
        </form>
    </div>
</div>

<script src="../../script/header.js"></script>
<!-- <script src="../../script/carrito.js"></script> -->