<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
         <ul class="d-flex w-100 justify-content-end align-items-center m-3">
                <li class="nav-item pe-sm-5">
                    <a class="nav-link" href="/tienda">Tienda</a>
                </li>
                <li class="nav-item pe-sm-5">
                    <a class="nav-link" href="/user/register">Resgistrarse</a>
                </li>
                <li class="nav-item pe-sm-5">
                    <a id="iconUser" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser"></a>
                    <a id="iconLogin" data-bs-toggle="collapse" data-bs-target="#collapseLogin" aria-expanded="false" aria-controls="collapseLogin"></a>
                </li>
                <li id="cart">
                    <div class='d-flex justify-content-center align-items-center position-relative ocultar pe-sm-3' id="countProduct">
                        <button id='btnCart' style='background: #ff000000; border: none;'  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class='bx bxs-cart bx-md' style='color:#ffffff'></i>
                            <p class='designContador' id='contador'>0</p>
                        </button>
                    </div>
                    <div id="divBtnCart">
                        <button type="submit" class="btn btn-success" id="btnCarrito">Comenzar compra</button>
                    </div>
                </li>
         </ul>
    </nav>
</header>

<script src="../../script/header.js"></script>